In [31]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# ğŸ”¹ 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
train_data = pd.read_excel("ê²½ì°°ì ìˆ˜ì˜ˆì¸¡.xlsx")
test_data = pd.read_excel("ê²½ì°°í…ŒìŠ¤íŠ¸ë°ì´í„°.xlsx")

# ğŸ”¹ 2. ì»¬ëŸ¼ëª… ê³µë°± ì œê±°
train_data.columns = train_data.columns.str.strip()
test_data.columns = test_data.columns.str.strip()

# ğŸ”¹ 3. "ì§€ì—­" ì»¬ëŸ¼ ì¡´ì¬ ì—¬ë¶€ í™•ì¸
if "ì§€ì—­" not in train_data.columns:
    print("âš  'ì§€ì—­' ì»¬ëŸ¼ì´ ì—†ìŠµë‹ˆë‹¤. ì—‘ì…€ íŒŒì¼ì—ì„œ í™•ì¸í•˜ì„¸ìš”.")
    print("ğŸ”¹ í˜„ì¬ ì»¬ëŸ¼ëª…:", train_data.columns)
    exit()  # í”„ë¡œê·¸ë¨ ì¢…ë£Œ

# ğŸ”¹ 4. "ì§€ì—­" ì»¬ëŸ¼ì„ ë¬¸ìì—´ë¡œ ë³€í™˜
train_data["ì§€ì—­"] = train_data["ì§€ì—­"].astype(str)
test_data["ì§€ì—­"] = test_data["ì§€ì—­"].astype(str)

# ğŸ”¹ 5. ì§€ì—­ ì»¬ëŸ¼ ê°’ í™•ì¸
print("âœ… ì§€ì—­ ì»¬ëŸ¼ ê°’ (í›ˆë ¨ ë°ì´í„°):", train_data["ì§€ì—­"].unique())
print("âœ… ì§€ì—­ ì»¬ëŸ¼ ê°’ (í…ŒìŠ¤íŠ¸ ë°ì´í„°):", test_data["ì§€ì—­"].unique())

# ğŸ”¹ 6. ì…ë ¥(X)ì™€ íƒ€ê²Ÿ(y) ë¶„ë¦¬
X = train_data.drop(columns=["í•©ê²©ì ìˆ˜"])
y = train_data["í•©ê²©ì ìˆ˜"]

# ğŸ”¹ 7. ì›-í•« ì¸ì½”ë”© ì ìš©
X = pd.get_dummies(X, columns=["ì§€ì—­"], drop_first=True)
test_data = pd.get_dummies(test_data, columns=["ì§€ì—­"], drop_first=True)

# ğŸ”¹ 8. í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ì„œ ëˆ„ë½ëœ ì»¬ëŸ¼ ì¶”ê°€
missing_cols = set(X.columns) - set(test_data.columns)
for col in missing_cols:
    test_data[col] = 0

test_data = test_data[X.columns]  # ì»¬ëŸ¼ ì •ë ¬

# ğŸ”¹ 9. ëª¨ë¸ í•™ìŠµ
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# ğŸ”¹ 10. ëª¨ë¸ í‰ê°€
y_pred = model.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
print(f"âœ… ëª¨ë¸ MAE (í‰ê·  ì ˆëŒ€ ì˜¤ì°¨): {mae:.2f}")

# ğŸ”¹ 11. ì˜ˆì¸¡ ë° ì €ì¥
test_data["í•©ê²©ì˜ˆì¸¡ì ìˆ˜"] = model.predict(test_data)
test_data.to_excel("ê²½ì°°í…ŒìŠ¤íŠ¸_ê²°ê³¼.xlsx", index=False)
print("âœ… ì˜ˆì¸¡ ì™„ë£Œ! 'ê²½ì°°í…ŒìŠ¤íŠ¸_ê²°ê³¼.xlsx'ì— ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.")

âœ… ì§€ì—­ ì»¬ëŸ¼ ê°’ (í›ˆë ¨ ë°ì´í„°): ['ì„œìš¸' 'ë¶€ì‚°' 'ëŒ€êµ¬' 'ì¸ì²œ' 'ê´‘ì£¼' 'ëŒ€ì „' 'ìš¸ì‚°' 'ì„¸ì¢…' 'ê²½ê¸°ë‚¨ë¶€' 'ê²½ê¸°ë¶ë¶€' 'ê°•ì›' 'ì¶©ë¶' 'ì¶©ë‚¨' 'ì „ë¶'
 'ì „ë‚¨' 'ê²½ë¶' 'ê²½ë‚¨' 'ì œì£¼']
âœ… ì§€ì—­ ì»¬ëŸ¼ ê°’ (í…ŒìŠ¤íŠ¸ ë°ì´í„°): ['ì„œìš¸' 'ë¶€ì‚°' 'ëŒ€êµ¬' 'ì¸ì²œ' 'ê´‘ì£¼' 'ëŒ€ì „' 'ìš¸ì‚°' 'ì„¸ì¢…' 'ê²½ê¸°ë‚¨ë¶€' 'ê²½ê¸°ë¶ë¶€' 'ê°•ì›' 'ì¶©ë¶' 'ì¶©ë‚¨' 'ì „ë¶'
 'ì „ë‚¨' 'ê²½ë¶' 'ê²½ë‚¨' 'ì œì£¼']
âœ… ëª¨ë¸ MAE (í‰ê·  ì ˆëŒ€ ì˜¤ì°¨): 3.20
âœ… ì˜ˆì¸¡ ì™„ë£Œ! 'ê²½ì°°í…ŒìŠ¤íŠ¸_ê²°ê³¼.xlsx'ì— ì €ì¥ë˜ì—ˆìŠµë‹ˆë‹¤.

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# ğŸ”¹ 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
train_data = pd.read_excel("ê²½ì°°ì ìˆ˜ì˜ˆì¸¡.xlsx")
test_data = pd.read_excel("ê²½ì°°í…ŒìŠ¤íŠ¸ë°ì´í„°.xlsx")

In [25]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì—°ë„      106 non-null    int64
 1   ì°¨ìˆ˜      106 non-null    int64
 2   ì§€ì—­      106 non-null    object
 3   ì±„ìš© ì¸ì›ìˆ˜  106 non-null    int64
 4   ì‹œí—˜ ë‚œì´ë„  106 non-null    float64
 5   í•©ê²©ì ìˆ˜    106 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 5.1+ KB

In [13]:
train_data.head()

     ì—°ë„  ì°¨ìˆ˜  ì§€ì—­  ì±„ìš© ì¸ì›ìˆ˜  ì‹œí—˜ ë‚œì´ë„   í•©ê²©ì ìˆ˜
0  2024   2  ì„œìš¸     403     4.0  170.0
1  2024   2  ë¶€ì‚°     133     4.0  182.5
2  2024   2  ëŒ€êµ¬      91     4.0  175.0
3  2024   2  ì¸ì²œ     102     4.0  165.0
4  2024   2  ê´‘ì£¼      40     4.0  180.0

In [14]:
test_data.head()

     ì—°ë„  ì°¨ìˆ˜ ì§€ì—­   ì±„ìš© ì¸ì›ìˆ˜  ì‹œí—˜ ë‚œì´ë„  í•©ê²©ì˜ˆì¸¡ì ìˆ˜
0  2025   1  ì„œìš¸     232       4     NaN
1  2025   1  ë¶€ì‚°      62       4     NaN
2  2025   1  ëŒ€êµ¬      52       4     NaN
3  2025   1  ì¸ì²œ     177       4     NaN
4  2025   1  ê´‘ì£¼      54       4     NaN

In [15]:
# ğŸ”¹ 2. ë°ì´í„° ì „ì²˜ë¦¬
# í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì œê±° (ì˜ˆ: ì—°ë„, ì°¨ìˆ˜ëŠ” í”¼ì²˜ë¡œë§Œ ì‚¬ìš©)
X = train_data.drop(columns=["í•©ê²©ì ìˆ˜"])
y = train_data["í•©ê²©ì ìˆ˜"]

In [16]:
X.head()

     ì—°ë„  ì°¨ìˆ˜  ì§€ì—­  ì±„ìš© ì¸ì›ìˆ˜  ì‹œí—˜ ë‚œì´ë„
0  2024   2  ì„œìš¸     403     4.0
1  2024   2  ë¶€ì‚°     133     4.0
2  2024   2  ëŒ€êµ¬      91     4.0
3  2024   2  ì¸ì²œ     102     4.0
4  2024   2  ê´‘ì£¼      40     4.0

In [22]:
# ë²”ì£¼í˜• ë³€ìˆ˜(ì§€ì—­) ì›-í•« ì¸ì½”ë”©
test_data = pd.get_dummies(test_data, columns=['ì§€ì—­'], drop_first=True)

KeyError: "None of [Index(['ì§€ì—­'], dtype='object')] are in the [columns]"

In [24]:
X

,ì—°ë„,ì°¨ìˆ˜,ì±„ìš© ì¸ì›ìˆ˜,ì‹œí—˜ ë‚œì´ë„,ì§€ì—­_ê²½ê¸°ë‚¨ë¶€,ì§€ì—­_ê²½ê¸°ë¶ë¶€,ì§€ì—­_ê²½ë‚¨,ì§€ì—­_ê²½ë¶,ì§€ì—­_ê´‘ì£¼,ì§€ì—­_ëŒ€êµ¬,...,ì§€ì—­_ë¶€ì‚°,ì§€ì—­_ì„œìš¸,ì§€ì—­_ì„¸ì¢…,ì§€ì—­_ìš¸ì‚°,ì§€ì—­_ì¸ì²œ,ì§€ì—­_ì „ë‚¨,ì§€ì—­_ì „ë¶,ì§€ì—­_ì œì£¼,ì§€ì—­_ì¶©ë‚¨,ì§€ì—­_ì¶©ë¶
0,2024,2,403,4.0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,2024,2,133,4.0,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,2024,2,91,4.0,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,2024,2,102,4.0,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,2024,2,40,4.0,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2022,1,61,2.5,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
102,2022,1,82,2.5,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
103,2022,1,115,2.5,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
104,2022,1,75,2.5,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
105,2022,1,9,2.5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [23]:
test_data

      ì—°ë„  ì°¨ìˆ˜   ì§€ì—­   ì±„ìš© ì¸ì›ìˆ˜  ì‹œí—˜ ë‚œì´ë„  í•©ê²©ì˜ˆì¸¡ì ìˆ˜
0   2025   1    ì„œìš¸     232       4     NaN
1   2025   1    ë¶€ì‚°      62       4     NaN
2   2025   1    ëŒ€êµ¬      52       4     NaN
3   2025   1    ì¸ì²œ     177       4     NaN
4   2025   1    ê´‘ì£¼      54       4     NaN
5   2025   1    ëŒ€ì „      79       4     NaN
6   2025   1    ìš¸ì‚°      16       4     NaN
7   2025   1    ì„¸ì¢…      14       4     NaN
8   2025   1  ê²½ê¸°ë‚¨ë¶€     471       4     NaN
9   2025   1  ê²½ê¸°ë¶ë¶€     166       4     NaN
10  2025   1    ê°•ì›      18       4     NaN
11  2025   1    ì¶©ë¶      71       4     NaN
12  2025   1    ì¶©ë‚¨     131       4     NaN
13  2025   1    ì „ë¶      26       4     NaN
14  2025   1    ì „ë‚¨      29       4     NaN
15  2025   1    ê²½ë¶      22       4     NaN
16  2025   1    ê²½ë‚¨      74       4     NaN
17  2025   1    ì œì£¼      60       4     NaN